* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullscreen {
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: red;
}

h1 {
    background-color: blue;
    font-size: 100px;
}