$noHover:false;

.navbar {
    background-color: burlywood;
    color: black;
    
    @if $noHover == false {
        &:hover {
        background-color: blue;
        color: white;
        }
    }
}

