.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    border: 15px solid black;
    width: 30%;
    height: 700px;
    grid-template-rows: 200px;
    padding: 10px;
}

.button {
    background-color: yellow;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    border-radius: 50%;
    margin: 10px;
}

.item0 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 100px;
    grid-column: 1 / 5;
    position: relative;
}
 
.itemx ,.item-meno , .itemu , .itemp {
    background-color: rgb(255, 132, 0);
    
}
