.container {
    display: flex;
    background-color: red;
    justify-content: center;
    margin: 4px;
    padding: 50px;
}




.box {
    border: 8px solid blue;
    display: flex;
    width: 100px;
    height: 90px;
    background-color: aquamarine;
    border-radius: 40px;
    margin: 4px;
    padding: 50px;

    
}

p {
    background-color: rebeccapurple;
    border-radius: 40px;
    margin: 5px;
    padding: 5px;
    font-size: 30px;

    

    
}